page-perfil {

  .perfil-content{
    //background-color: honeydew
  }


  img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    left: 25%;
    position: relative;
    align-items: center;
  }

  .iconUser{
      //height: 150px;
      //left: 25%;
      //position: relative;
      //align-items: center;
  }

}
