page-oracoes {

    .app_header{
      background-image: url(../assets/images/backgroundII.png);
    }
    
    .user_img{
        margin-left: 16px;
        border-radius: 50%;
        height: 38px;
        width: 38px;
    }

    .borda {
        border: 5px solid;
        border-color:#404664;
    }

    .titulo {
        //font-size: 12px;
        font-family: "Taken" !important;
        //text-align: center;
        color: azure;
        //height: 150px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .oracoes_heard{
        color: darkgray;
        background: rgba(255, 255, 255, 0px);
    }

    .grupo_heard{
        color: darkslategrey;
        text-align: center;
        background: rgba(255, 255, 255, 0px);
    }

    .oracoes-content{
        font-family: Quicksand;
        //background-color: #f7f5ee;
    }

    .noItem{
        text-align: center;
        color: darkgray;
    }
}
